<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Actionable emails e.g. reset password</title>
<link href="styles.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

  <table class="body-wrap">
    <tr>
      <td></td>
      <td class="container" width="600">
        <div class="content">
          <div class="header">
            <table width="100%">
              <tr>
                <td class="aligncenter">
                  <a href="http://devo.ps" target="_blank">
                    <img src="http://devo.ps/assets/favicons/favicon-32x32.png" alt="devo.ps">
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <table class="main" width="100%" cellpadding="0" cellspacing="0">


            <!-- Card Body -->
            <tr>
              <td class="content-wrap">
                <table width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td class="content-block">
                      <h2 style="margin-top: 0;" class="aligncenter">weekly newsletters</h2>
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">
                      <img src="images/banner.png" alt="devo.ps">
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">
                      <h3 class="title"><a href="#">D3 on AngularJS</a></h3>
                      <p>D3, the javascript library for manipulating document-based data is
                      insanely expressive and helps bring data to life through HTML, SVG, and
                      CSS.</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">
                      <h3 class="title"><a href="#">AngularFire: Realtime web apps with
                      AngularJS and Firebase</a></h3>
                      <p>Angular is great at 2-way data bindings between the DOM and models in
                      memory.</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">
                      <h3 class="title"><a href="#">Building a Forum with Clojure,
                      Datomic, Angular, and Ansible</a></h3>
                      <p>After many long months I've finished re-writing Grateful Place. The
                      site now uses Clojure as an API server.</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="content-block">&mdash; The &#123;devo.ps&#125; Team</td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- /Card Body -->


          </table>
          <div class="footer">
            <table width="100%">
              <tr>
                <td class="aligncenter content-block">
                  <a href="http://twitter.com/wiredcraft" target="_blank"><img
                    src="" alt="twitter"></a>
                  <a href="https://github.com/orgs/Wiredcraft"
                    target="_blank"><img src="" alt="github"></a>
                  <a href="https://www.hipchat.com"
                    target="_blank"><img src="" alt="hipchat"></a>
                </td>
              </tr>
              <tr>
                <td class="aligncenter content-block"><a
                    href="#"><unsubscribe>Unsubscribe</unsubscribe></a> from our
                emails.</td>
              </tr>
            </table>
          </div>
        </div>
      </td>
      <td></td>
    </tr>
  </table>

</body>
</html>

