/* colors */
$light: #f3f4f5;
$white: #ffffff;
$grey: #a5adb3;
$black: #576671;
$orange: #ff8859;
$red: #ff5f5f;
$green: #50cd84; 
$blue: #1f8dd6;

/* font */
$sans: "Open Sans","Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$mono: Consolas, "Liberation Mono", Menlo, Courier, monospace;

/* size */
$font-base: 16px;
$font-small: 12px;

/* gutter */
$gutter: 20px;

/* width */
$width: 600px;

/* radius */
$radius: 2px;


/*
 * GLOBAL
 */

* {
  font-size: $font-base;
  font-family: $sans;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  line-height: 1.6;
  width: 100% !important;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none; }

img {
  max-width: 100%; }

table td {
  /* Let's make sure all tables have defaults */
  vertical-align: top; }


/*
 * BODY AND CONTAINER
 */

body {
  background-color: $light; }

.body-wrap {
  width: 100%;
  background-color: $light; }

.container {
  display: block !important;
  max-width: $width !important;
  margin: 0 auto !important;
  /* makes it centered */
  clear: both !important; }

.content {
  display: block;
  max-width: $width;
  padding: $gutter;
  margin: 0 auto; }


/*
 * HEADER, MAIN, FOOTER
 */

.main {
  color: $black;
  background: $white;
  border-radius: $radius; }

.content-wrap {
  padding: $gutter; }

.content-block {
  padding: 0 0 $gutter; }

.header {
  width: 100%;
  margin-bottom: $gutter; }

.footer {
  color: $grey;
  width: 100%;
  padding: $gutter;
  clear: both; }

  .footer a {
    color: $grey;
    text-decoration: underline; }

  .footer p, .footer a, .footer unsubscribe, .footer td {
    font-size: $font-small; }


/*
 * TYPOGRAPHY
 */

h1, h2, h3 {
  color: $black;
  font-family: $sans;
  font-weight: 200;
  line-height: 1.2;
  margin: $gutter*2 0 0; }

h1 {
  font-size: $font-base*2; }

h2 {
  font-size: $font-base+8; }

h3 {
  font-size: $font-base+2; }

h4 {
  font-size: ($font-base)-2; }

p, ul, ol {
  font-weight: normal;
  margin-bottom: $gutter/2; }

p li, ul li, ol li {
  margin-left: $gutter/4;
  list-style-position: inside; }


/*
 * LINKS AND BUTTONS
 */

a {
  color: $blue;
  text-decoration: none; }

@mixin button($bg-color, $border-color) {
  display: inline-block;
  color: $white;
  font-size: $font-small;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2;
  text-align: center;
  background-color: $bg-color;
  border: solid $border-color;
  border-width: $gutter/2 $gutter;
  border-radius: $radius;
  cursor: pointer;
}

.btn-primary {
  @include button(#3598da, #3598da) }

.btn-secondary {
  @include button(#50cd84, #50cd84); }


/*
 * UTILITIES
 */

.last {
  margin-bottom: 0; }

.first {
  margin-top: 0; }

.aligncenter {
  text-align: center; }

.alignright {
  text-align: right; }

.alignleft {
  text-align: left; }

.clear {
  clear: both; }


/*
 * ALERTS
 */

.alert {
  color: $white;
  font-size: $font-base;
  font-weight: 200;
  text-align: center;
  padding: $gutter;
  border-radius: $radius $radius 0 0; }

  .alert a {
    color: $white;
    font-size: $font-base;
    font-weight: 500;
    text-decoration: none; }

  .alert.alert-warning {
    background: $orange; }

  .alert.alert-danger {
    background: $red; }

  .alert.alert-success {
    background: $green; }


/*
 * INVOICE
 */

.invoice {
  text-align: left;
  width: 80%;
  margin: ($gutter*2) auto; }

  .invoice td {
    padding: $gutter/4 0; }

  .invoice .invoice-items {
    width: 100%; }

    .invoice .invoice-items td {
      border-top: #eee 1px solid; }

    .invoice .invoice-items .total td {
      font-weight: 200;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333; }


/*
 * RESPONSIVE
 */

@media only screen and (max-width: 640px) {
  h1, h2, h3, h4 {
    font-weight: 200 !important;
    margin: $gutter 0 ($gutter/4) !important; }

  h1 {
    font-size: ($font-base+6) !important; }

  h2 {
    font-size: ($font-base+2) !important; }

  h3 {
    font-size: $font-base !important; }

  .container {
    width: 100% !important; }

  .content, .content-wrapper {
    padding: $gutter/2 !important; }

  .invoice {
    width: 100% !important; }
}

