.meta {
  color: $grey;
  display: block;
  margin-top: $gutter/2;
  .avatar {
    border-radius: 50%;
    display: inline-block;
    margin-right: $gutter/4;
    vertical-align: top;
  }
}
.posts {
  .post {
    border-bottom: 1px solid $light;
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    h2 {
      margin: 0;
    }
    .meta {
      margin-bottom: $gutter;
    }
  }
}
.post {
  img {
    max-width: 100%;
  }
}
.feedback {
  border-top: 1px solid $light;
  margin-top: $gutter;
  padding-top: $gutter;
}