.header {
  .back {
    background: $light;
    @include tooltip(bottom);
    border-radius: 0 0 $radius $radius;
    color: $grey;
    display: block;
    @include font-size($large);
    left: 50%;
    margin-left: -$gutter;
    position: absolute;
    top: 0;
    width: 2*$gutter;
    &:before {
      @include icon;
      content: '"';
    }
    &:hover {
      color: $black;
    }
  }
}
.meta {
  color: $grey;
  display: block;
  margin-top: $gutter/2;
  .avatar {
    border-radius: 50%;
    display: inline-block;
    margin-right: $gutter/4;
    vertical-align: top;
  }
}
a.twitter,
a.rss {
  @include font-size();
  &:before {
    @include icon();
    margin-right: $gutter/2;
  } 
}
a.twitter:before { content: '5'; }
a.rss:before { content: '6'; }
.sidebar {
  a.twitter,
  a.rss {
    display: block;
  }
}
.posts {
  .post {
    border-bottom: 1px solid $light;
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    h2 {
      margin: 0;
    }
    .meta {
      margin-bottom: $gutter;
    }
  }
}
.content {
  img {
    max-width: 100%;
  }
}
&.post {
  text-align: center;
  .header, {
    margin: 0 auto;
    max-width: $body;
  }
  .content {
    margin: 0 auto;
    max-width: $body;
    text-align: left;
  }
  .more {
    border-top: 1px solid $light;
    margin-top: $gutter;
    padding-top: $gutter;
    .field {
      display: inline-block;
      vertical-align: middle;
    }
    input,
    .button {
      padding: $gutter/2 $gutter;
    }
    .twitter,
    .rss {
      display: block;
    }
  }
}