.meta {
  color: $grey;
  display: block;
  margin-top: $gutter/2;
  .avatar {
    border-radius: 50%;
    display: inline-block;
    margin-right: $gutter/4;
    vertical-align: top;
  }
}
.posts,
.post {
  .card {
    @include clearfix();
    list-style: none;
    margin: 2*$gutter 0 0;
    padding: 0;
    li {
      @include box-sizing(border-box);
      float: left;
      padding: $gutter/2 $gutter;
      width: 50%;
    }
  }
}
.posts {
  list-style: none;
  padding: 0;
  .card {
    margin: 0 auto $gutter;
    max-width: $blog;
  }
  .post {
    border-bottom: 1px solid $light;
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    h2 {
      margin: 0;
    }
    .meta {
      margin-bottom: $gutter;
    }
  }
}
.post {
  margin: 0 auto;
  max-width: $blog;
  img {
    max-width: 100%;
  }
}