body.page-front {
  #main {
    .section {
      h2 {
        @include font-size($huge);
      }
      h3 {
        @include font-size($large);
      }
      .button {
        @include box-sizing(border-box);
        padding: 1.5*$gutter/4 1.5*$gutter;
        width: 10*$gutter;
      }
      &.hero {
        background: $light;
        border-bottom: 1px solid $line;
        @include box-sizing(border-box);
        padding-bottom: 0;
        padding-top: 8rem;
        position: relative;
        .wrapper {
          text-align: center;
        }
        h1 {
          margin: 0 auto $gutter/2;
        }
        h2 {
          color: inherit;
          margin: 0 auto;
        }
        .button {
          margin: 2*$gutter 0;
        }
        .preview {
          display: block;
          position: relative;
          margin: 0 auto;
          max-width: 728px; /* Size of the screenshot */
          .body {
            border: 1px solid $line;
            border-width: 0 1px;
            @include box-sizing(border-box);
            img {
              display: block;
              max-width: 100%;
            }
          }
          &:after,
          &:before {
            bottom: 0;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            @include transition-property(background, opacity);
            @include transition-duration(0.2s);
            z-index: 999;
          }
          &:after {
            $size: 42px;
            background: $black;
            border-radius: 50%;
            @include box-sizing(border-box);
            color: #FFF;
            content: 'R';
            @include font-size($huge);
            height: $size;
            @include icon;
            line-height: 1;
            margin: auto;
            opacity: 0.6;
            padding: $gutter/4;
            width: $size;
          }
          &:before {
            background: #FFF;
            content: ' ';
            opacity: 0;
            position: absolute;
          }
          &:hover {
            &:before {
              opacity: 0.4;
            }
            &:after {
              background: $blue;
              opacity: 1;
            }
          }
        }
      }
      &.features {
        .feature {
          @include clearfix;
        }
        .preview {
          text-align: center;
          img {
            border-radius: $radius;
            max-width: 100%;
          }
        }
      }
      &.signup {
        background: $light;
        border: 1px solid $line;
        border-width: 1px 0;
        .wrapper {
          text-align: center;
        }
        h2 + .description {
          margin-bottom: 2*$gutter;
        }
      }
      &.how {
        @import 'partials/_how.scss';
      }
      &.team {
        border-top: 1px solid $line;
        padding-bottom: 0;
        .picture {
          text-align: center;
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            width: 460px;
          }
        }
      }
    }
  }
}