$thin: 720px;

body.page-front {
  #main {
    .section {
      h2 {
        @include font-size($huge);
      }
      h3 {
        @include font-size($large);
      }
      .button {
        @include box-sizing(border-box);
        padding: 1.5*$gutter/4 1.5*$gutter;
        width: 10*$gutter;
      }
      &.hero {
        background: $light;
        border-bottom: 1px solid $line;
        @include box-sizing(border-box);
        padding-bottom: 0;
        padding-top: 8rem;
        position: relative;
        .wrapper {
          text-align: center;
        }
        h1 {
          margin: 0 auto $gutter/2;
        }
        h2 {
          color: inherit;
          margin: 0 auto;
        }
        .button {
          margin: 2*$gutter 0;
        }
        .preview {
          display: block;
          position: relative;
          img.body {
            border: 1px solid $line;
            border-width: 0 1px;
            @include box-sizing(border-box);
            display: block;
            width: 100%;
          }
          &:hover {
            position: relative;
            &:before {
              background: rgba(255, 255, 255, 0.4);
              bottom: 0;
              content: ' ';
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              z-index: 999;
            }
            &:after {
              bottom: 0;
              color: tint($blue, 20%);
              content: 'R';
              @include font-size($gigantic);
              height: 50px;
              @include icon;
              margin: auto;
              line-height: 1;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              z-index: 999;
            }
          }
        }
      }
      &.features {
        .feature {
          @include clearfix;
          margin-bottom: 8rem;
          &:last-child {
            margin-bottom: 0;
          }
        }
        img {
          border-radius: $radius;
          width: 100%;
        }
      }
      &.signup {
        background: $light;
        border: 1px solid $line;
        border-width: 1px 0;
        .wrapper {
          text-align: center;
        }
        h2 + .description {
          margin-bottom: 2*$gutter;
        }
      }
      &.how {
        
        @import 'partials/_how.scss';
      }
    }
  }
}