$thin: 720px;

.section {
  padding: 2*$gutter 0;
  h2 {
    margin-bottom: 2*$gutter;
    text-align: center;
  }
  &.hero,
  &.signup {
    .button {
      @include button($green);
      padding: $gutter/2 2*$gutter;
    }
  }
  &.hero {
    border-bottom: 1px solid $line;
    padding-bottom: 0;
    text-align: center;
    h1,
    h2 {
      max-width: $thin;
    }
    h1 {
      margin: 0 auto $gutter/2;
    }
    h2 {
      color: $grey;
      @include font-size($large);
      margin: 0 auto;
    }
    .button {
      margin: 2*$gutter auto;
    }
    .preview {
      margin: 0 auto;
      max-width: $thin;
      width: 90%;
      img {
        display: block;
        width: 100%;
        &.demo {
          border: 1px solid tint($line, 20%);
          border-width: 0 1px;
          @include box-sizing(border-box);
        }
      }
    }
  }
  &.features {
    padding: 4*$gutter 0;
    .header {
      text-align: center;
      h1 {
        margin: 0;
      }
    }
    .feature {
      @include clearfix;
      margin-top: 2*$gutter;
      padding-top: 2*$gutter;
      position: relative;
      &:hover {
        .preview {
          img {
            &:first-child {
              display: inline-block;
            }
            &:last-child {
              display: none;
            }
          }
        }
      }
      &.beta {
        overflow: hidden;
        &:before {
          background: tint($purple, 60%);
          @include box-sizing(border-box);
          color: #FFF;
          content: 'Beta';
          display: block;
          @include font-size($micro);
          padding: 1.5*$gutter 0 0;
          position: absolute;
          right: -1.5*$gutter;
          top: -$gutter;
          text-align: center;
          text-transform: uppercase;
          @include transform(rotate(45deg));
          width: 3.5*$gutter;
          z-index: 999;
        }
      }
      .preview {
        text-align: center;
        img {
          width: 300px;
          &:first-child {
            display: none;
          }
        }
      }
      h2 {
        margin-bottom: $gutter/2;
        text-align: left;
        + p {
          color: $grey;
        }
      }
      img {
        max-width: 100%;
      }
    }
    .more {
      border-top: 1px solid $line;
      display: block;
      text-align: center;
    }
  }
  &.signup {
    border: 1px solid $line;
    border-width: 1px 0;
    text-align: center;
  }
}