<section>
    <section id='more' name='more'>
        <h3>Learn more</h3>
        <p>devo.ps is still in private beta. If you wish to learn more about our product or become a beta tester, drop us a line at info@devo.ps or leave us your email address; we'll get back at you as soon as we can.</p>
        {% include subscribe.html %}
      </div>
    </section>

    <section id='blog' name='blog'>
        <h3>The blog</h3>
        <ul id='posts'>
          {% for post in site.posts offset:0 %}
            <li>
              <time datetime='{{ post.date | xmlschema }}'>{{ post.date | date: '%B %d, %Y' }}</time>
              <a href='{{ post.url }}'>{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
    </section>

    <nav class='social'>
        <span>© devo.ps</span>
        <a href='http://twitter.com/devo_ps' class='twitter'>Blog</a>
        <a href='{{ base.url }}/atom.xml' class='feed'>Feed</a>
        <a href='http://twitter.com/devo_ps' class='twitter'>Twitter</a>
        <a href='http://help.devo.ps' target='_blank' class='help'>Help</a>
    </nav>
</section>