---
layout: default.hbs
subject: Simple Newsletters Email
---
<tr>
  <td class="content-wrap">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr>
        <td class="content-block">
          <h2 style="margin-top: 0;" class="aligncenter">weekly newsletters</h2>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <img src="../src/emails/images/banner.png" alt="devo.ps">
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <h3 class="title"><a href="#">D3 on AngularJS</a></h3>
          <p>D3, the javascript library for manipulating document-based data is
          insanely expressive and helps bring data to life through HTML, SVG, and
          CSS.</p>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <h3 class="title"><a href="#">AngularFire: Realtime web apps with
          AngularJS and Firebase</a></h3>
          <p>Angular is great at 2-way data bindings between the DOM and models in
          memory.</p>
        </td>
      </tr>
      <tr>
        <td class="content-block">
          <h3 class="title"><a href="#">Building a Forum with Clojure,
          Datomic, Angular, and Ansible</a></h3>
          <p>After many long months I've finished re-writing Grateful Place. The
          site now uses Clojure as an API server.</p>
        </td>
      </tr>
      <tr>
        <td class="content-block">&mdash; The &#123;devo.ps&#125; Team</td>
      </tr>
    </table>
  </td>
</tr>

