/* Open Sans */

@import '_fonts.scss';

/* Eggshell */

@import 'eggshell';

/* Variables */

$avatar: 22px;
$width: 1040px;
$body: 720px;
$code: 'Lucida Sans Typewriter', 'Lucida Console', Monaco, 'Bitstream Vera Sans Mono', monospace;

/* General */

body {
  line-height: 160%;
	text-align: center;
  @include transition-property(font-size);
  @include transition-duration(0.5s);
}

img.avatar {
  border-radius: $radius;
  height: $avatar;
  width: $avatar;
  vertical-align: middle;
}

@mixin halves($reverse: false) {
  @include box-sizing(border-box);
  width: 50%;
  @if $reverse == true {
    &:nth-child(odd) {
      float: right;
      padding-left: $gutter;
    }
    &:nth-child(even) {
      float: left;
      padding-right: $gutter;
    }
  }
  @else {
    &:nth-child(odd) {
      float: left;
      padding-right: $gutter;
    }
    &:nth-child(even) {
      float: right;
      padding-left: $gutter;
    }
  }
}

.wrapper {
	margin: 0 auto;
  max-width: $width;
  position: relative;
  text-align: left;
  width: 90%;
}

/* Window bar mock */

.bar {
  background: #FFF;
  border: 1px solid $line;
  border-radius: 2*$radius 2*$radius 0 0;
  color: $grey;
  @include font-size($small);
  line-height: 1;
  padding: 1.5*$gutter/4 $gutter/2;
  position: relative;
  text-align: center;
  img {
    height: $gutter/2 - 2;
    left: $gutter/2;
    margin-top: -$gutter/4 + 1;
    position: absolute;
    top: 50%;
  }
}

#modal {
  max-width: 640px;
  object {
    display: block;
  }
}

/* Header */

#header {
  border-bottom: 1px solid $line;
  @include box-sizing(border-box);
  padding: 1.5*$gutter 0;
	.logo {
    @include font-size($larger);
		&:before {
			@include font-size($huge);
			@include icon();
			content: '3';
			float: left;
			margin-right: 1.5*$gutter/4;
	  }
	}
  .signin {
    font-weight: bold;
  }
}

/* Main */

#main {
  position: relative;
  .content {
    margin-bottom: 2*$gutter;
  }
	.sidebar + .content {
    @include box-sizing(border-box);
    img {
      max-width: 100%;
    }
  }
  .sidebar {
    @include box-sizing(border-box);
    @include font-size($smaller);
    input,
    .button {
      @include box-sizing(border-box);
      width: 100%;
    }
    input {
      padding: $gutter/2;
    }
    .button {
      padding: $gutter/2 $gutter;
    }
    .pitch {
      margin-bottom: $gutter;
      .button + small {
        display: block;
        padding-top: $gutter/4;
        text-align: center;
      }
    }
    .menu {
      border-top: 1px solid $light;
      @include font-size();
      margin-bottom: $gutter;
      a {
        border-bottom: 1px solid $light;
        display: block;
        padding: 1.5*$gutter/2 0;
        @include transition-property(background);
        @include transition-duration(0.2s);
        &.active {
          color: inherit;
          font-weight: bold;
        }
      }
    }
  }
	.wrapper > .header {
		padding: 3*$gutter 0;
		text-align: center;
    h1 {
      margin: 0;
    }
    & + .section {
      padding-top: 0;
    }
	}
  .section {
    @include clearfix;
    padding: 8rem 0;
    .wrapper > .header {
      padding: 0;
      text-align: center;
      h2 {
        margin: 0 0 8rem;
        & + .description {
          @include font-size($larger);
          margin: -8rem auto 8rem;
          max-width: $body;
          padding-top: $gutter;
        }
      }
    }
  }
  &.pricing {
    @import 'partials/_pricing.scss';
  }
  &.features {
    @import 'partials/_features.scss';
  }
  &.blog {
    position: relative;
    @import 'partials/_blog.scss';
  }
}

@import 'partials/_landing.scss';

/* About page */

body.page-about {
  #main .content {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @include font-size($smaller);
        margin: 0;
        padding: $gutter/2;
        h3 {
          margin: 0;
        }
        h4 {
          font-size: inherit;
          margin: 0;
        }
        img {
          border-radius: 50%;
          float: left;
          margin-right: $gutter/2;
          width: 3*$gutter;
        }
      }
    }
  }
}

/* Footer */

#footer {
  background: $light;
  border-top: 1px solid $line;
  @include clearfix;
  @include font-size($smaller);
  padding: 4rem 0;
  h3 {
    font-size: inherit;
    margin-bottom: $gutter/2;
  }
  a {
    color: inherit;
    display: block;
    &:hover {
      color: shade($blue, 10%);
    }
  }
  form * {
    vertical-align: middle;
  }
  .field {
    display: inline-block;
  }
  input:not([type=submit]) {
    background: #FFF;
    padding: 1.5*$gutter/4;
  }
  .button {
    @include button($grey);
    padding: 1.5*$gutter/4 $gutter;
  }
  &:hover {
    .button {
      @include button();
      padding: 1.5*$gutter/4 $gutter;
    }
  }
  .product,
  .help,
  .company,
  .subscribe {
    @include box-sizing(border-box);
    float: left;
    width: 20%;
  }
  .subscribe {
    width: 40%;
    &:hover {
      .button {
        @incude button($blue);
      }
    }
  }
  .legal {
    clear: both;
    color: $grey;
    display: block;
    padding-top: $gutter;
    a {
      display: inline;
      margin-left: $gutter/2;
    }
  }
}

/* SUPPORT (CHAT & INTERCOM) */

@import '_support.scss';

/* Responsive */

@import 'partials/_responsive.scss';
