/* Eggshell */

@import 'eggshell';

/* Variables */

$avatar: 22px;
$sidebar: 240px;
$blog: 700px;
$width: 960px;

/* General */

body {
	text-align: center;
}

img.avatar {
  border-radius: $radius;
  height: $avatar;
  width: $avatar;
  vertical-align: middle;
}

@mixin halves() {
  @include box-sizing(border-box);
  float: left;
  width: 50%;
  &:nth-child(odd) {
    padding-right: $gutter;
  }
  &:nth-child(even) {
    padding-left: $gutter;
  }
}

#header,
#main {
	margin: 0 auto;
  max-width: $width;
  text-align: left;
  width: 90%;
}

/* Header */

#header {
	border-bottom: 1px solid $line;
	padding: $gutter 0;
	.logo {
		&:before {
			@include font-size($large);
			@include icon();
			content: '3';
			float: left;
			margin-right: $gutter/4;
	  }
	}
	.menu {
		float: right;
		@include font-size($small);
		a {
			margin-left: $gutter;
      &.active {
        color: inherit;
      }
		}
    .button {
      @include font-size($pico);
      padding: 1px $gutter/2;
    }
	}
}

/* Main */

#main {
  position: relative;
	.sidebar + .content {
    @include box-sizing(border-box);
    margin-right: $sidebar;
    padding-right: $gutter;
  }
  .sidebar {
    border-left: 1px solid $light;
    @include box-sizing(border-box);
    @include font-size($smaller);
    float: right;
    padding-left: $gutter;
    width: $sidebar;
    input,
    .button {
      @include box-sizing(border-box);
      width: 100%;
    }
    .pitch {
      margin-bottom: $gutter;
      .button + small {
        display: block;
        padding-top: $gutter/4;
        text-align: center;
      }
    }
    .menu {
      @include font-size();
      margin-bottom: $gutter;
      a {
        border-bottom: 1px solid $light;
        color: inherit;
        display: block;
        padding: $gutter/2 $gutter;
        @include transition-property(background);
        @include transition-duration(0.2s);
        &.active {
          font-weight: bold;
        }
        &.active,
        &:hover {
          background: $light;
        }
      }
    }
    .controls {
      float: right;
      line-height: 1;
      a {
        @include font-size();
        margin-left: $gutter/2;
        @include tooltip;
        &:before {
          @include icon();
        }
        &.twitter:before { content: '5'; }
        &.rss:before { content: '6'; }
      }
    }
  }
	> .header {
		padding: 3*$gutter 0;
    position: relative;
		text-align: center;
		.controls {
      position: absolute;
      top: $gutter/2;
      .back {
        color: $grey;
        margin: 0;
        &:before {
          @include icon();
          content: ',';
          margin-right: $gutter/4;
        }
        &:hover {
          color: shade($blue, 10%);
        }
      }
    }
		h1 {
			margin: 0;
		}
	}
  &.landing {
    @import 'partials/_landing.scss';
  }
  &.blog {
    position: relative;
    @import 'partials/_blog.scss';
  }
}

/* Footer */

#footer {
	color: $grey;
	@include font-size($small);
	padding: 2*$gutter 0;
}