.header {
  .back {
    border: 1px solid $light;
    border-top: 0;
    @include tooltip(bottom);
    border-radius: 0 0 $radius $radius;
    color: $grey;
    display: block;
    @include font-size($large);
    left: 50%;
    line-height: 1;
    margin-left: -$gutter;
    position: absolute;
    top: 0;
    text-align: center;
    width: 2*$gutter;
    &:before {
      @include icon;
      content: '"';
    }
    &:hover {
      border-color: $line;
      color: $blue;
    }
  }
  &:hover {
    .back {
      opacity: 1;
    }
  }
}
.meta {
  color: $grey;
  display: block;
  margin-top: $gutter/2;
  .avatar {
    border-radius: 50%;
    display: inline-block;
    margin-right: $gutter/4;
    vertical-align: top;
  }
}
.subscribe {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      &.newsletter * {
        @include box-sizing(border-box);
        width: 100%;
      }
    }
  }
}
.posts {
  .post {
    margin-bottom: 2*$gutter;
    h2 {
      margin: 0;
    }
    .meta {
      margin-bottom: $gutter;
    }
  }
}
.content {
  img {
    max-width: 100%;
  }
}
&.post {
  text-align: center;
  .header, {
    margin: 0 auto;
    max-width: $body;
  }
  .content {
    margin: 0 auto;
    max-width: $body;
    text-align: left;
  }
  .share {
    margin: 2*$gutter 0;
    text-align: center;
    &:hover {
      .email { @include button($green); }
      .hn { @include button(#FF4F01); }
      .facebook { @include button(#3B5998); }
      .google { @include button(#d64937); }
      .linkedin { @include button(#0073b2); }
      .twitter { @include button(#55acee); }
      .email,
      .facebook,
      .google,
      .hn,
      .linkedin,
      .twitter {
        padding: 0;
        width: 1.5*$gutter;
      }
    }
    .email:before { content: '7'; }
    .hn:before { content: 'Y'; }
    .facebook:before { content: '9'; }
    .google:before { content: '%'; }
    .linkedin:before { content: '('; }
    .twitter:before { content: '5'; }
    a {
      @include button($grey);
      padding: 0;
      @include tooltip();
      @include transition-property(background, border-color);
      @include transition-duration(0.5s);
      width: 1.5*$gutter;
      &:before {
        vertical-align: middle;
      }
      &.email,
      &.facebook,
      &.google,
      &.linkedin,
      &.twitter {
        &:before {
          @include icon;
        }
      }
    }
  }
  .subscribe {
    background: tint($blue, 95%);
    border-radius: $radius;
    margin-bottom: 2*$gutter;
    padding: $gutter;
    h2 {
      text-align: center;
    }
    form {
      margin-bottom: $gutter;
      text-align: center;
      * {
        display: inline;
        vertical-align: middle;
      }
      input:not([type=submit]) {
        background: #FFF;
        border-color: tint($blue, 60%);
        @include box-sizing(border-box);
        padding: 1.5*$gutter/4;
        width: 50%;
        &:active,
        &:focus {
          border-color: $blue;
        }
      }
      .button {
        padding: 1.5*$gutter/4 $gutter;
      }
    }
    p:last-child {
      margin: 0;
      text-align: center;
    }
    .rss:before {
      content: '6';
      @include icon();
      margin-right: $gutter/4;
    }
  }
  #disqus_thread {
    margin-bottom: 2*$gutter;
    text-align: center;
  }
}