.feature {
  @include clearfix;
  margin: 8rem 0;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    .preview {
      img {
        &:first-child {
          display: inline-block;
        }
        &:last-child {
          display: none;
        }
      }
    }
  }
  &.beta {
    h2:after {
      color: $green;
      content: 'Beta';
      display: inline-block;
      @include font-size($small);
      line-height: 1;
      margin-left: $gutter/2;
      text-transform: uppercase;
      vertical-align: top;
    }
  }
  .preview {
    text-align: center;
    img {
      max-width: 100%;
      width: 300px;
      &:first-child {
        display: none;
      }
    }
  }
  .pitch {
    h2 {
      margin-bottom: $gutter/2;
      text-align: left;
    }
  }
}
.more {
  border-top: 1px solid $line;
  display: block;
  text-align: center;
}