/* General */
html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

body {
  background: #fff;
  color: #2a343a;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}

a {
  color: #008cdd;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: #05a3ff;
}

.cf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Buttons */
.button {
  background: #e7ebef;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#e7ebef));
  background: -moz-linear-gradient(top,  #f9fafb,  #e7ebef);
  border: 1px solid #d5dee3;
  border-color: #d5dee3 #c9d4db #c9d4db #d5dee3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 0 #fdfdfd inset;
  color: #3b4951;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 99%;
  padding: 10px 14px 9px;
  text-decoration: none;
  text-shadow: 0 1px #fdfdfd;
}
.button:hover {
  box-shadow: 0 1px 0 #fff inset, 1px 1px 2px #e7ecef;
  color: #111517;
}
.button:active {
  background: #e1e6eb;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7ebef), to(#edf0f3));
  background: -moz-linear-gradient(top, #e7ebef,  #edf0f3);
  box-shadow: 1px 1px 2px #bdc8d3 inset;
  border-color: #bdcad3 #c9d4db #c9d4db #bdcad3;
  color: #3b4951;
  text-shadow: 0 1px #fdfdfd;
}
.button:before {
  font-size: 14px;
  font-weight: normal;
  line-height: 99%;
}

.button.primary,
#mc_embed_signup .button {
  background: #008cdd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#05a3ff), to(#008cdd));
  background-image: -moz-linear-gradient(top, #05a3ff, #008cdd);
  border: 1px solid #008cdd;
  border-color: #008cdd #007fc8 #007fc8 #008cdd;
  box-shadow: 1px 1px 2px #cfdadf;
  color: #fff;
  margin: -1px;
  text-shadow: -1px -1px #0078f0;
}
.button.primary:hover,
#mc_embed_signup .button:hover {
  background: #0098f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#19aaff), to(#0098f0));
  background-image: -moz-linear-gradient(top, #19aaff, #0098f0);
  box-shadow: none;
  color: #fff;
}
.button.primary:active,
#mc_embed_signup .button:active {
  background: #0098f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#008cdd), to(#0098f0));
  background-image: -moz-linear-gradient(top, #008cdd, #0098f0);
  box-shadow: 1px 1px 2px #0072b4 inset;
  border-color: #0072b4 #007fc8 #007fc8 #0072b4;
}

.button.compact {
  padding: 6px 7px 3px;
}
.button.compact:before {
  margin: 0;
}

/* Actions & Bundles */
.actions {
  float: right;
}

.bundle .button {
  float: right;
}

.bundle .button:last-child {
  border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
}

.bundle .button:first-child {
  border-left: 0;
  border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
}

/* Forms */
input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

form {
  padding: 0;
}

form .field {
  padding: 10px 0;
}

form .field.hide {
  display: none;
}

form fieldset {
  background: #fff;
  border: 1px solid #bdcad3;
  border-color: #bdcad3 #c9d4db #c9d4db #bdcad3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 3px #bdc8d3 inset;
  padding: 10px 15px;
}

input:focus {
  outline: none;
}

input[type=email],
input[type=password],
input[type=text],
textarea {
  background: #f9fafb;
  border: 1px solid #bdcad3;
  border-color: #bdcad3 #c9d4db #c9d4db #bdcad3;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 3px #bdc8d3 inset;
  padding: 5px 10px;
}
input[type=text]:active,
input[type=text]:focus,
input[type=password]:active,
input[type=password]:focus,
textarea:active,
textarea:focus {
  background: #fff;
}

input + small.description,
textarea + small.description {
  display: block;
  opacity: 0.8;
  margin-top: 5px;
}

/* Popover */
.popover {
  background: #fff;
  border: 1px solid #C9D4DB;
  border-color: #C9D4DB #BDCAD3 #BDCAD3 #C9D4DB;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: none;
  padding: 5px 0;
  position: absolute;
  width: 120px;
  text-align: left;  
  z-index: 999;
}

.popover a {
  color: #2a343a;
  display: block;
  font-size: 14px;
  padding: 7px 15px;
  text-align: left;
  text-shadow: none;
  width: auto;
}
.popover a:hover {
  background: #008cdd;
  background: -webkit-gradient(linear, left top, left bottom, from(#05a3ff), to(#008cdd));
  background: -moz-linear-gradient(top,  #05a3ff,  #008cdd);
  box-shadow: none;
  color: #fff;
}

.popover.active {
  display: block;
}