/* Layout */
#header > *,
#content > section,
#content > article,
#footer > * {
  margin: 0 auto;
  width: 960px;
}

/* Subscribe */
.subscribe p,
.subscribe form {
  display: inline-block;
  margin: 0;
}

body > .subscribe {
  background: #2a343a;
  color: #fff;
  font-size: 15px;
  padding: 10px 0;
}

body > .subscribe > * {
  opacity: 0.8;
}
body > .subscribe:hover > *,
body > .active > * {
  opacity: 1;
}

body > .subscribe input[type=email] {
  border: 0;
  box-shadow: 1px 1px 3px #bdc8d3 inset;
}

body > .subscribe .button {
  border: 0;
  box-shadow: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

/* Header */
#header {
  background: #3b4951 url(../images/bg.png);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5) inset;
  color: #bfcad1;
  overflow: hidden;
  position: relative;
  text-shadow: 0 -2px rgba(0, 0, 0, 0.5);
}

#header nav {
  padding: 30px 0 20px;
  text-align: right;
}

#logo {
  background: url(../images/logo.png) no-repeat center center;
  border: 0;
  display: block;
  float: left;
  height: 20px;
  text-align: left;
  text-indent: -999em;
  width: 88px;
  z-index: 999;
}

#header a {
  color: #fff;
}
#header a:hover {
  color: #69b4ff;
}

#header a.sign-up {
  text-decoration: underline;
}

#header input[type=email] {
  background: rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
  color: #fff;
  font-size: 13px;
  margin-right: 20px;
  padding: 2px 10px;
}
#header input[type=email]:active,
#header input[type=email]:focus {
  background: #fff;
  color: #2a343a;
}

#header input[type=submit] {
  background: #008cdd;
  background-image: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#008cdd), to(#05a3ff));
  background-image: -moz-linear-gradient(center right, #008cdd 0%, #05a3ff 100%);
  border: 1px solid #008cdd;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-right-color: #007fc8;
  box-shadow: none;
  color: #fff;
  margin: -1px;
  padding: 2px 4px;
  text-shadow: -1px -1px #0078f0;
}

/* Pitch */
#pitch {
  padding: 20px 0 0;
}

#pitch h1,
#pitch h2 {
  color: #fff;
  margin: 0;
  margin-bottom: 15px;
}

#pitch h1 {
  font-size: 34px;
}

#pitch h2 {
  font-size: 22px;
  font-weight: normal;
}

#pitch .preview {
  display: block;
  margin: 15px auto 0;
  padding: 0;
  position: relative;
}

#pitch img:first-child,
#pitch img {
  bottom: 0;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: block;
  position: absolute;
  right: 20px;
  width: 40%;
}

#pitch img:first-child {
  left: 20px;
}

#pitch img:last-child {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  margin: 40px auto -20px;
  position: relative;
  right: 0;
  width: 60%;
  z-index: 999;
}

/* Content */
#content {
  background: #fff;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  clear: both;
  padding: 20px 0;
  text-align: left;
  z-index: 999;
}

#content > section {
  clear: both;
  margin-bottom: 20px;
}

#content h2 {
  font-size: 28px;
  margin: 0;
}

#content h3 {
  font-size: 18px;
}

#how {
  clear: both;
}

#how ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#how li {
  float: left;
  margin: 0 15px 0 0;
  padding: 0;
  width: 310px;
}
#how li:last-child {
  margin: 0;
}

/* Footer */
#footer {
  background: #f3f5f7;
  border-right: 1px solid #e1e8eb;
  clear: both;
  padding: 15px 0 30px;
  text-align: left;
}

#more {
  float: left;
  width: 50%;
}

#more h2,
#more p {
  margin-right: 10px;
}

#blog {
  float: left;
  width: 50%;
}

#blog h2,
#blog p {
  margin-left: 10px;
}

#footer nav {
  clear: both;
  display: block;
  padding-top: 20px;
  text-align: right;
}

#footer nav a {
  margin-left: 10px;
}