{% extends 'default.html' %}

{% block content %}
{% parent %}
<header class='header'>
  <h1>{{ title }}</h1>
</header>

<aside class='sidebar'>
  <div class='card'>
    <h2>Stay tuned by email</h2>
    {% include 'partials/subscribe.html' %}
    <p>or <a href='http://twitter.com/devo_ps'>follow us on twitter</a></p>
    <h2>About devo.ps</h2>
    {% include 'partials/about.html' %}
  </div>
</aside>

<section class='content posts'>  
  {% for post in blog %}
	<article class='post'>
		<h2><a href='/{{ post.path }}'>{{ post.title }}</a></h2>
    <span class='meta'>
	    {% for member in team %}
	    {% if member.user == post.author %}
	      <img class='avatar' alt='{{ member.title }}' src='/images/team/{{ member.user }}-small.png'/> 
	      {{ member.title }}
	    {% endif %}
	    {% endfor %}
	    on <time datetime='{{ post.date | date(c) }}'>{{ post.date | date('F d, Y') }}</time>
	  </span>
	  {{ post.excerpt | safe }}
	</article>
  {% endfor %}
</section>
{% endblock %}