{% extends 'default.html' %}

{% block content %}
<section id='main' class='blog'>
  <header class='header'>
    <div class='controls'>
      <a href='/blog' class='back'>Back to the blog</a>
    </div>

    <h1>{{ title }}</h1>

    <span class='meta'>
      {% for member in team %}
      {% if member.user == author %}
        <img class='avatar' alt='{{ member.title }}' src='/images/team/{{ member.user }}-small.png'/> 
        {{ member.title }}
      {% endif %}
      {% endfor %}
      on <time datetime='{{ post.date | date(c) }}'>{{ date | date('F d, Y') }}</time>
    </span>
  </header>

  <aside class='sidebar'>
    {% include 'partials/sidebar.html' %}
  </aside>

  <article class='content'>
    {{ contents | safe }}
    
    <footer class='feedback'>
      <h2>Have some feedback?</h2>
      <p>Let us know on <a href='https://twitter.com/intent/tweet?text=@devo_ps%20&related=devo_ps&url={{ site.url }}/{{ path }}' target='_blank'>Twitter</a>{% if hn %} or keep the discussion going on <a href='http://news.ycombinator.com/item?id={{ hn }}' target='_blank'>Hacker News</a>{% endif %}.</p>
    </footer>
  </section>
</section>
{% endblock %}