<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>

  <!-- Meta -->
  <meta charset='utf-8'>
  <meta name='description' content='Build a sustainable DevOps strategy.'>
  <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

  <!-- CSS -->
  <link href='/assets/css/normalize.css' rel='stylesheet' type='text/css'>
  <link href='http://yandex.st/highlightjs/6.2/styles/monokai.min.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='/assets/css/style.css' rel='stylesheet' type='text/css'>

  <!-- RSS -->
  <link href='/atom.xml' rel='alternate' title='Ronan Berder' type='application/atom+xml'>

  <!-- Icons -->
  <link rel='shortcut icon' href='/images/favicon.ico'>
  <link rel='apple-touch-icon' href='/images/apple-touch-icon.png'>
  <link rel='apple-touch-icon' sizes='72x72' href='/images/apple-touch-icon-72x72.png'>
  <link rel='apple-touch-icon' sizes='114x114' href='/images/apple-touch-icon-114x114.png'>
</head>
<body>
  <header id='header'>
    <div class='content'>
    	<h1><a href='{{ base.url }}/'>devo.ps</a></h1>
      <nav>
        <a href='{{ base.url }}/#pitch'>What is devo.ps?</a>
        <a href='{{ base.url }}/#how'>How does it work?</a>
        <a href='{{ base.url }}/#signup'>Sign up</a>
        <a href='{{ base.url }}/#blog'>Blog</a>
      </nav>
    </div>
  </header>
  
  <section id='content'>
    {{ content }}
  </section>
  
  <footer id='footer'>
    <div class='content'>
      <nav class='social'>
        <a href='http://twitter.com/devo_ps' class=''>Twitter</a>
        <a href='{{ base.url }}/atom.xml'>Blog</a>
        <a href='http://mailchimp.com' class=''>Newsletter</a>
      </nav>
      <p class='slogan'><a href='{{ base.url }}/'>devo.ps</a> Build sustainable DevOps infrastructures.</p>
      <p class='copyright'>Copyright © Solution Beam LLC.</p>
    </div>
  </footer>
  
  <!-- JS -->
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' type='text/javascript'></script>
  <script src='http://yandex.st/highlightjs/6.2/highlight.min.js'></script>
  <script type='text/javascript'>(function($) { hljs.initHighlightingOnLoad(); })(jQuery);</script>
  <!--[if lt IE 9]>
		<script src='http://html5shim.googlecode.com/svn/trunk/html5.js'></script>
	<![endif]-->
</body>
</html>